<?xml version="1.0"?>
<config>
    <modules>
        <LCB_Ekomi>
            <version>1.0.0</version>
        </LCB_Ekomi>
    </modules>
    <global>
        <helpers>
            <lcb_ekomi>
                <class>LCB_Ekomi_Helper</class>
            </lcb_ekomi>
        </helpers>
        <blocks>
            <lcb_ekomi>
                <class>LCB_Ekomi_Block</class>
            </lcb_ekomi>
        </blocks>
        <models>
            <lcb_ekomi>
                <class>LCB_Ekomi_Model</class>
                <resourceModel>lcb_ekomi_resource</resourceModel>
            </lcb_ekomi>
            <lcb_ekomi_resource>
                <class>LCB_Ekomi_Model_Resource</class>
                <entities>
                    <review>
                        <table>lcb_ekomi_reviews</table>
                    </review>
                </entities>
            </lcb_ekomi_resource>
        </models>
        <resources>
            <lcb_ekomi_setup>
                <setup>
                    <module>LCB_Ekomi</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lcb_ekomi_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <lcb_ekomi>
                    <files>
                        <default>LCB_Ekomi.csv</default>
                    </files>
                </lcb_ekomi>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <lcb_ekomi_fetch_reviews>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>lcb_ekomi/cron::importReviews</model>
                </run>
            </lcb_ekomi_fetch_reviews>
        </jobs>
    </crontab>
</config>
